[Unit]
Description=Poster frame web app
After=network-online.target
Wants=network-online.target

[Service]
User=__USER__
WorkingDirectory=__DIR__
ExecStart=__DIR__/venv/bin/python3 __DIR__/app.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
